.newsLetter {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5rem 2rem;
  margin-bottom: 150px;
  background-color: #333;
  gap: 2rem;
}

.newsLetter h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

.newsLetter p {
  color: #fff;
  font-size: 1.125rem;
}

.newsLetter form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsLetter input {
  width: 500px;
  margin-left: 2rem;
  border: none;
  outline: none;
  color: #333;
  font-family: 'Poppins';
  font-size: 1rem;
}

.newsLetter button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 876px) {
  
  .newsLetter h1 {
    font-size: 3rem;
    text-align: center;
  }

  .newsLetter p {
    text-align: center;
  }

  .newsLetter form {
    max-width: 730px;
    width: 100%;
  }

  .newsLetter input {
    max-width: 500px;
    width: 100%;
    padding-left: 2rem;
  }

  .newsLetter button {
    max-width: 210px;
    width: 100%;
  }

}