.loginSignup {
  width: 100%;
  background-color: #fce3fe;
  padding: 100px 0px;
}

.container {
  width: 580px;
  height: 600px;
  background-color: #fff;
  margin: auto;
  padding: 2.5rem 3.5rem;
}

.container h1 {
  margin: 1.2rem 0px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.fields input {
  height: 72px;
  width: 100%;
  padding-left: 1.2rem;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 1.125rem;
}

.fields button {
  width: 580px;
  height: 72px;
  color: #fff;
  background-color: #ff4141;
  margin-top: 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.signupLogin {
  margin-top: 1.2rem;
  font-size: 1.125rem;
  color: #5c5c5c;
  font-weight: 500;
}

.loginSignup span {
  color: #ff4141;
  font-weight: 600;
  padding-left: .5rem;
}

.signupAgree {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  gap: 1.2rem;
  color: #5c5c5c;
  font-size: 1.125rem;
  font-weight: 500;
}