.bannerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .05rem auto 5rem auto;
  padding: 2rem 1rem;
  max-width: 1200px;
  height: 400px;
  background-color: #333;
  text-align: center;
}

.bannerContent h1 {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
}

.bannerContent p {
  color: #fff;
  font-size: 3rem;
}

.bannerContainer img {
  max-width: 300px;
  max-height: 350px;
  padding: 1rem;
  border-radius: 2rem 4rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.category {
  color: #333;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.categoryStyle {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #333;
  margin-bottom: 6rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto 6rem auto;
  width: 100%;
  gap: 2rem;
}

.products section {
  max-width: 280px;
  margin-bottom: 1.5rem;
}

@media (max-width: 876px) {
  .bannerContainer img {
    display: none;
  }
}