.banner {
  display: block;
  margin: .2rem auto;
  max-width: 1200px;
}

.indexSort {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 1rem .5rem;
  justify-content: space-between;
  align-items: center;
}

.indexSort p span {
  font-weight: 600;
}

.sort {
  padding: .687rem 1.125rem;
  border-radius: 40px;
  border: 1px solid #888;
  max-width: 120px;
  font-size: .8rem;
}

.sort img {
  max-width: 15px;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto 0px auto;
  width: 100%;
  gap: 1rem;
}

.products section {
  max-width: 280px;
  margin-bottom: 1.5rem;
}

.loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 100px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background-color: #ededed;
  color: #787878;
  font-size: 1.125rem;
  font-weight: 500;
}
