.newCollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  margin-bottom: 100px;
}

.newCollections h1 {
  color: #333;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.newCollections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #333;
}

.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 3rem;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1250px) {
  .newCollections h1 {
    font-size: 2rem;
  }
  
  .collections {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .collections section {
    max-width: 200px;
  }
}