.breadcrum {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  margin: 3rem auto;
  max-width: 1250px;
  text-transform: capitalize;
}

.breadcrum img {
  width: 10px;
}