.offers {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: 5rem auto 0 auto;
  padding: 26px 2rem;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offersLeft {
  flex: 1;
  display: flex;
  padding-left: 3rem;
  flex-direction: column;
  justify-content: center;
}

.offersLeft h1 {
  color: #171717;
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.offersLeft p {
  color: #171717;
  font-size: 1.25rem;
  font-weight: 600;
}

.offersLeft button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background-color: #ff4141;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
}

.offersRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 3rem;
}

.offersRight img {
  max-width: 330px;
}

@media (max-width: 876px) {
  .offersLeft {
    text-align: center;
    margin: 0 auto;
    padding-left: 0rem;
    padding-right: 3.5rem;
  }

  .offersLeft button {
    margin: 2rem auto;
  }

  .offersLeft h1 {
    font-size: 3.5rem;
  }

  .offersRight {
    display: none;
  }
}