.productDisplay {
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 3.5rem auto 0px auto;
  padding: .5rem .2rem 0rem .5rem;
}

.displayLeft {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  max-width: 650px;
  align-items: center;
  margin: 0 auto 6rem auto;
}

.imgList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding-top: 2rem;
}

.imgList img {
  max-width: 140px;
}

.mainImg {
  max-width: 530px;
  max-height: 530px;
}

.displayRight {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding-left: 1rem;
}

.displayRight h1 {
  color: #333;
  font-size: 2rem;
  font-weight: 700;
}

.star {
  display: flex;
  gap: .2rem;
  align-items: center;
  margin-top: .8rem;
  color: #1c1c1c;
  font-size: 1rem;
}

.star img {
  width: 20px;
  height: 20px;
}

.star span {
  color: #333;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: .3rem;
}

.star p {
  font-size: 1rem;
  padding-left: .6rem;
  color: #333;
}

.price {
  width: fit-content;
  margin: 1.5rem 0px;
  padding: .5rem 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ff4141;
}

.description {
  color: #333;
  font-size: 1.2rem;
}

.size h1 {
  margin-top: 2rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.sizes {
  display: flex;
  margin: 2rem 0px;
  gap: 1.125rem;
}

.sizes li {
  padding: 1.1rem 1.5rem;
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 2px #333;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
}

.buy {
  padding: 1.125rem 2.5rem;
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff4141;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.buy:hover {
  background-color: #aa1010;
}

.category {
  margin-bottom: .5rem;
  color: #333;
  font-size: 1.2rem;
}

@media (max-width: 876px) {
  .productDisplay {
    grid-template-columns: 1fr;
  }

  .displayRight {
    margin: 0 auto 4rem auto;
    align-items: center;
    text-align: center;
  }

  .displayRight {
    padding-left: 0px;
  }  
}